.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  outline: 1px solid #d4d4d4;
}

.link {
  display: block;
}

.img {
  width: 100%;
  object-fit: cover;
}

.target-img {
  view-transition-name: photo-img;
}
